<div class="beers">
    {{#each  beersFromApi}}
        <div class="each-beer">                      
	        <img class="beers-img" src="{{image_url}}" alt="Image for {{name}}">
            <h2>{{name}}</h2>  
            <p class="beers-tag-line">{{tagline}}</p>
            <p>{{description}}</p>
        </div>
    {{/each}}
</div> 