<div class="random">
    {{#with apiBeers}}        
        <img class="random-img" src="{{image_url}}" alt="{{name}} beer image">
        
        <div class="random-about">  
            <h2>{{name}}</h2>          
            <div class="random-desc">
                <p class="random-tag-line">{{tagline}}</p>
                <p>{{description}}</p>
                <h4>Food Pairing</h4>
                {{#each food_pairing}}
                    <li>{{this}}</i>
                {{/each}}
                <h4>Brewers Tips:</h4>
                <p>{{brewers_tips}}</p>
            </div>
        </div>
    {{/with}}
</div> 